[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "flask run"
start = "flask run --with-threads"

[packages]
flask = "*"
python-dotenv = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dateutil = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
